.main-container{
  padding: 0 40px;
  text-align: center;
  z-index: -99;
  position: relative;
  bottom: 90px;
  background-image: url(../img/top.mp4);
  background-repeat: no-repeat;
  background-position: cover;
}